:root {
  --background-color: #f4ecea;

  --primary-color: #bf665e;
  --primary-color-light: #E0A899;
  --primary-color-dark: #A65C54;

  --secondary-color: #c79b8e;
  --black: #000;
  --white: #FFF;

  --text: #593325; 
}
