:root {
  --background-color: #f4ecea;

  --primary-color: #bf665e;
  --primary-color-light: #E0A899;
  --primary-color-dark: #A65C54;

  --secondary-color: #c79b8e;
  --black: #000;
  --white: #FFF;

  --text: #593325;

  --tst: #f2cab3;

--tst: #bf9288;
--tst: #f4ecea;
--tst: #edb8cc;
/* --tst: #bf665e;;  primary*/
--tst: #be9287;

--tst: #ececec;
--tst: #e1dfdb;
}

/* bd9189 */

/* --tst: #f2cab3;
--tst: #593325;
--tst: #bf9288;
--tst: #f4ecea;
--tst: #edb8cc;
--tst: #bf665e;
--tst: #be9287;

--tst: #ececec;
--tst: #e1dfdb; */